body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*PC */
@media (min-width: 1024px) {
    /* Add your PC specific styles here */
}

/*Ipad */
@media (min-width: 768px) and (max-width: 1023px) {
    /* Add your tablet specific styles here */
}

/*mobile */
@media (max-width: 767px) {
    /* Add your mobile specific styles here */
}
